html {
    box-sizing: border-box;
    font-size: 16px;
}

body {
    margin: 0;
    background-color: #0e0b16;
}

h1, h2, h3, h4, h5 {
    color: #7289da;
    margin-top: 0px;
    font-weight: bold;
    letter-spacing: 9px;
}

h1 {
    font-size: 2.25rem;
    color: #e7efdd;
    letter-spacing: normal;
    font-weight: 500;
}

h2 {
    margin-bottom: 8px;
    font-size: 2.25rem;
}

h3 {
    font-size: 1.75rem;
    letter-spacing: 7px;
    margin: 30px 0px 0px;
}

h4 {
    font-size: 1.125rem;
}

h5 {
    font-size: 1rem;
    letter-spacing: 2px;
}

p {
    color: #e7efdd;
}


.indexText {
    position: relative;
    font-size: 1.125rem;
}

.indexText::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 85%;
    border-right: 2px solid #e7efdd;
    animation: blink 1s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}







.grid-container {
    display: grid;
    grid-template-rows: 5vh auto;
    font-family: 'Montserrat', sans-serif;
}

.first-row {
    display: flex;
    grid-row: 1 / 2;

    /* justify content aligns items along the main axis, align-items aligns items
    along the cross axis */
    justify-content: space-between;
    align-items: center;
    
    letter-spacing: 5px;

}

.logo {
    text-decoration: none;
    color: #e7efdd;
    padding: 10px;
    font-size: 1.125rem;
    margin-left: 10px;
    border-radius: 5px;
}

.logo:hover {
    background-color: #e7efdd;
    transition: 0.5s ease;
    color: #0e0b16;
}

nav ul {
    display: flex;
    flex-direction: row;

    /* removes the bullet points from the list */
    list-style-type: none;

    margin: 0;
    padding: 0;
}

nav {
    margin-right: 10px;
    border-radius: 5px;
}

nav li {
    padding: 10px;
}

nav a {
    text-decoration: none;
    color: #e7efdd;
    font-size: 1.125rem;
    padding: 7px;
    border-radius: 5px;
}

nav a:hover {
    background-color: #e7efdd;
    color: #0e0b16;
    transition: 0.5s ease;
}

.second-row {
    display: flex;
    grid-row: 2 / 3;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.front-content {
    margin-bottom: 30px;
    color: #e7efdd;
}


.projects-button {
    background-color: #7289da;
    border: none;
    padding: 25px 80px;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;
    color: #e7efdd;
    font-weight: 600;
    text-decoration: none;
    border-radius: 5px;
}

.projects-button:hover {
    background-color: rgb(61, 68, 83);
    color: #7289da;
    transition: 0.5s ease;
}



.third-row {
    display: flex;
    grid-row: 3 / 4;
    align-items: center;
}




.recent-work-text {
    margin: 0;
    padding-bottom: 30px;
    color: #e7efdd;
}





.card-container {
    max-width: 880px;
    display: flex;
    flex-flow: row wrap;
}

.card {
    display: inline-block;
    max-width: 270px;
    min-height: 460px;
    background-color: rgb(61, 68, 83);
    margin: 10px;
    padding-bottom: 20px;
    border-radius: 5px;
    
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;
    transition: box-shadow 0.3s ease 0s;
    transition: transform .5s;
}

.card:hover {
    box-shadow: rgb(0 0 0) 0px 4px 40px 0px;
    transform: translateY(-0.5%);
}


.card-img {
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header {
    letter-spacing: 5px;
    margin-top: 15px;
    margin-bottom: 25px;
    }

.card-text {
    color: #e7efdd;
    font-size: 0.75rem;
    padding-left: 10px;
    padding-right: 10px;
}


.lang-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 0.75rem;
    color: rgb(190, 191, 195);
    padding-left: 10px;
    padding-right: 10px;

    
}

.lang-item {
    margin: 3px;
    padding: 3px 4px;
    border: 1px solid rgb(190, 191, 195);
    border-radius: 3px;
}


.project-container {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    max-width: 680px;
}

.project-img {
    width: 300px;
}

.project-header {
    margin: 15px 0px;
}

.project-description-container {
    display: flex;
    flex-direction: column;
    max-width: 680px;
    text-align: left;
}

.project-lang-list {
    font-size: 1rem;
    padding-bottom: 15px;
}

.source-button {
    background-color: rgb(61, 68, 83);
    border: none;
    padding: 25px 80px;
    margin-top: 25px;
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;
    color: #7289da;
    font-weight: 600;
    text-decoration: none;
}






.about-container {
    max-width: 880px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.about-header-container { 
    display: flex;
    flex-direction: column;
    max-width: 880px;
    text-align: left;
}

.coursework-container {
    display: flex;
    flex-direction: column;
}

.coursework-header {
    margin-bottom: 20px;
}

.comp-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;    
}

.math-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-bottom: 50px;
}

.comp-math-header {
    letter-spacing: 6px;
    color: #e7efdd;
}

.course-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 425px;
    min-height: 150px;
    background-color: rgb(61, 68, 83);
    padding-bottom: 10px;
    border-radius: 5px;
    
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;

    margin: 5px 10px 5px 0px;
}

.course-card-header {
    margin: 10px;
}

.course-card-text {
    color: #e7efdd;
    font-size: 0.95rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}

.course-lang-list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    font-size: 0.75rem;
    color: rgb(190, 191, 195);
    padding-left: 10px;
    padding-right: 10px;

    justify-content: center;
}

.course-lang-item {
    margin: 3px;
    padding: 3px 4px;
    border: 1px solid rgb(190, 191, 195);
    border-radius: 3px;
}


.work-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 50px;  

    text-align: left;
    width: 100%;
}

.work-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    max-width: 860px;
    min-height: 150px;
    background-color: rgb(61, 68, 83);
    padding-bottom: 10px;
    border-radius: 5px;
    
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;

    margin: 5px 10px 5px 0px;
}

.work-card-header {
    margin: 10px;
}

.works-card-text {
    color: #e7efdd;
    font-size: 0.95rem;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0;
}



.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-link {
    text-decoration: none;
    margin: 0;
    padding: 0;
}


.contact-card-container {
    display: flex;

}


.contact-card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: rgb(61, 68, 83);
    box-shadow: rgb(0 0 0 / 30%) 0px 4px 40px 0px;
    border-radius: 5px;
    padding: 0px 25px;

    margin: 5px;

    height: 75px;
    width: 150px;
}

.contact-title {
    margin: 0;
    text-align: center;
    padding: 0;
}

.contact-link {
    text-decoration: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

.contact-card:hover {
    background-color: #7289da;
    color: #e7efdd;
    transition: 0.5s ease;
}

.contact-card:hover h4{
    color: #e7efdd;
    transition: 0.5s ease;
}

.contact-me-text {
    margin: 0;
    padding-bottom: 30px;
    color: #e7efdd;
}


code {
    color: #e7efdd;
    background-color: rgb(255 255 255 / 10%);
    width: fit-content;
}

/* when screem is less than 900px and greater than 768px wide */
@media screen and (max-width: 900px) {

    .card-container {
        max-width: 750px;
        justify-content: center;
    } 
    
    .about-container {
        max-width: 750px;
        margin: 10px;
    }
    
    .about-header-container { 
        max-width: 750px;
    }
    
    .coursework-container {
        max-width: 750px;
    }

    .work-container {
        max-width: 750px;
        flex-direction: column;
    }
    
    .comp-container {
        max-width: 750px;
        margin-bottom: 50px;    
    }
    
    .math-container {
        max-width: 750px;
    }
    
    .course-card {
        margin: 5px 10px 5px 0px;
       
        width: 360px;
        height: 175px;
    }

    .work-card {
        width: 740px;
    }
    
}

/* when screen is less than 768px wide */
@media screen and (max-width: 768px) {
    h2 {
        font-size: 1.625rem;
        letter-spacing: 6.5px;
    }

    h3 {
        font-size: 1.375rem;
        letter-spacing: 5.5px;
    }

    .grid-container {
        grid-template-rows: auto;
    }

    .logo {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .first-row {
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .front-content {
        margin: 10px;
    }
    



    .second-row {
       margin-bottom: 50px;
    }

    .project-container {
        max-width: 750px;
    }

    .project-header-container {
        margin-bottom: 25px;
        max-width: 540px;
    }


    .project-description-container {
        max-width: 540px;
        margin: 20px;
    }



    .contact-card-container {
        flex-direction: column;
    }
    
    .contact-card {
        height: 75px;
        width: 200px;
    }



    
    .about-container {
        max-width: 540px;
        flex-direction: column;
        text-align: left;
        


        margin: 10px;

    }
    
    .about-header-container { 
        max-width: 540px;
        text-align: left;


    }
    
    .coursework-container {
        max-width: 540px;
        justify-content: center;
        justify-items: center;
        text-align: left;
    }

    .work-container {
        max-width: 540px;
    }



    
    .coursework-header {
        margin-bottom: 20px;        
    }
    
    .comp-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 540px;
        margin-bottom: 50px;    
    }
    
    .math-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        max-width: 540px;
    }
    
    .course-card {
        flex-direction: column;    
        margin: unset;
        margin-bottom: 10px;

        width: unset;
        max-width: 540px;
        height: unset;
    }

            
    .work-card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: unset;
        margin-bottom: 10px;


        width: unset;
        height: unset;
        max-width: 540px;
    }


}




/* when screen is less than 768px wide */
@media screen and (max-width: 612px) {
    .card-container {
        max-width: 750px;
        flex-flow: column;
    }
    
    .card {
        max-width: 357px;
        margin: 20px 20px 0px 20px;
    }
    
    .card-header {
        margin-bottom: 10px;
    }
}
